<button  (click)="onclick()">click for the comics</button>

<div class="container" *ngFor="let item of data2">
  <div *ngIf="flag">
  
<!--><img src="{{item.image}}" height="42" width="42"><-->

<br><br>
<label>comic_name:</label>{{item.name}}<br>
<!--><label>description:</label>{{item.desc}}<br> <-->
<!--><label>series_id:</label>{{item.series_id}}<br><-->
<label>story:</label>{{item.story}}<br>
<label>image:</label>{{item.ends_on}}<br>
<label> season_id:</label>{{item.created_at}}<br>
<label> starts_on:</label>{{item.created_at}}<br>
<label> ends_on:</label>{{item.created_at}}<br>
<label> comments:</label>{{item.created_at}}<br>
<label>  created_at:</label>{{item.created_at}}<br>
<label>  updated_at:</label>{{item.created_at}}<br>
<!--><label> updated_at:</label>{{item.updated_at}}<br><-->
<br>
</div>
</div>
